<h1>My Page</h1>
<div>
  <div class="mt-4 mb-5">
    <h2 class="border-bottom">Create Room</h2>
    <% if flash[:created_room_id] %>
      <div class="alert alert-success" role="alert">New room id is <strong> <%= flash[:created_room_id] %> </strong></div>
    <% end %>
    <%= link_to 'new room', rooms_new_path, class: 'btn btn-primary' %>
  </div>

  <div class="login-to-room">
    <h2 class="border-bottom">Login to Chat Room</h2>
    <%= form_for(@room, method: :post, :url => {:action => :show}) do |f| %>
      <div class="form-group mt-3">
        <%= f.label :room_id, 'Room ID' %>
        <%= f.text_field :room_id, class: 'form-control' %>
      </div>
      <%= f.submit 'Login Room', class: 'btn btn-primary' %>
    <% end %>
  <div>
</div>