<!DOCTYPE html>
<html>
  <head>
    <title>ChatTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-container">
      <%= render 'header' %>
      <div class="container main-cantainer">
        <div class="info-messages-container">
          <% if notice %>
            <div class="alert alert-info" role="alert"><%= notice %></div> 
          <% end %>
          <% if alert %>
            <div class="alert alert-danger" role="alert"><%= alert %></div>
          <% end%>
        </div>
        <%= yield %>
      </div>
    </div>  
  </body>
</html>
